GOOGLE_ADS_DEVELOPER_TOKEN=F4Z7pp-pIIZAqdJGQ0dv5w
GOOGLE_ADS_CLIENT_ID=863383181160-tj34p0d6k4ook6ler0rsmpb7he71fq6p.apps.googleusercontent.com
GOOGLE_ADS_CLIENT_SECRET=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
GOOGLE_ADS_REFRESH_TOKEN=1//03CMPnB6vG1NSCgYIARAAGAMSNwF-L9IrJOYZsqhuL3rtR7SZwXoXTr4TE6U3dZfoX5L7_neJo2M94neaONFl5xQubpntDi57ICk
GOOGLE_ADS_CUSTOMER_ID=8823799088
GOOGLE_ADS_LOGIN_CUSTOMER_ID=3305365600
DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/1513913672332873879/0p9ud-4lqj81ZdHL8Qqn0s4zCM422OzNRe_8gql8a4vObfuISyvGFYOQEFruDiEbbrbn
REPORT_HOUR=9
